In [2]:
import pandas as pd

In [3]:
url = "https://docs.google.com/spreadsheets/d/18X1VM1671d99V_yd-cnUI1j8oSG2ZgfU_q1HfOizErA/export?format=csv&id"
df = pd.read_csv(url)
df = df.fillna(0)
df

,country,location_id,location,latitude,longitude,confirmedcases_10-01-2020,deaths_10-01-2020,confirmedcases_11-01-2020,deaths_11-01-2020,confirmedcases_12-01-2020,...,confirmedcases_02-02-2020,deaths_02-02-2020,confirmedcases_03-02-2020,deaths_03-02-2020,confirmedcases_04-02-2020,deaths_04-02-2020,confirmedcases_05-02-2020,deaths_05-02-2020,confirmedcases_06-02-2020,deaths_06-02-2020
0,Australia,470,New South Wales,-32.330,146.7700,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,4.0,0.0,4.0,0.0,4,0.0,4,0.0
1,Australia,476,Victoria,-36.980,144.6400,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,4.0,0.0,4.0,0.0,4,0.0,4,0.0
2,Australia,473,Queensland,-22.900,144.7000,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,2.0,0.0,3.0,0.0,4,0.0,5,0.0
3,Australia,474,South Australia,-29.490,135.9500,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,2.0,0.0,2.0,0.0,2,0.0,2,0.0
4,Cambodia,802,Sihanoukville,10.616,103.5780,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1,0.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Malaysia,1903,Selangor,3.399,101.4680,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,2,0.0
89,Belgium,600,Brussels,50.836,4.3753,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,1,0.0
90,Phillipines,2363,Central Visayas,10.360,123.7700,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1,0.0
91,Malaysia,1896,Negeri Sebilan,2.780,102.2400,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,2,0.0
92,United States of America,3263,Wisconsin,44.440,-89.4400,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1,0.0